{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% comment %}
{% block sidebar %}
    {% include 'news/_sibebar.html' %}
{% endblock sidebar%}
{% endcomment %}

{% block content %}
    <div class="col-md-9">
            {% for item in object_list %}
                <div class="card mb-3" >
                    <div class="card-header"> {{item.category}} </div>
                    <div class="card-body">

                        <div class="media">
                            {% if item.photo %}
                                <img class="align-self-start mr-3" src="{{ item.photo.url }}" alt="" width="350" height="235">
                            {% else %}
                                <img src="https://picsum.photos/id/1060/300/235/?blur" alt="">
                            {% endif %}
                            <div class="media-body">
                                <h5 class="mt-5">{{ item.title }}</h5>
                                <p>{{ item.content }}</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-muted"> {{ item.created_at | date:'Y-m-d H:m' }} </div>
                </div>
            {% endfor %}
        </div>
{% endblock content%}
