{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block sidebar %}
    <div class="col-md-3">
            <div class="list-group">
                {% for category in categories %}
                    <a href="{% url 'category' category.pk %}" class="list-group-item list-group-item-action">
                        {{ category.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
{% endblock sidebar%}

{% block content %}
    <div class="col-md-9">
            {% for item in news %}
                <div class="card mb-3" >
                    <div class="card-header"> {{item.category}} </div>
                    <div class="card-body">
                        <div class="media">
                            {% if item.photo %}
                            <img class="align-self-start mr-3" src="{{ item.photo.url }}" alt="" width="350" height="235">
                            {% else %}
                            <img src="https://picsum.photos/id/1060/300/235/?blur" alt="">
                            {% endif %}
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0">{{ item.title }}</h5>
                            <p>{{ item.content }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted"> {{ item.created_at | date:'Y-m-d H:m' }} </div>
                </div>
            {% endfor %}
        </div>
{% endblock content%}
